<h1>An example</h1>
<div>
  <p>
    This is an example news here just to demonstrate the use of HTML 5 tags.
  </p>

  <p>
    This project was made quick and dirty for Montreal.rb &mdash; the Ruby and Ruby on Rails users group in Montreal.
    It will be used for the 2 presentations on April 17th, 2012. It will also be useful the randomly give gifts to the members present at the meet-up.
  </p>
</div>
