#prizes
  width: 100%
  .prize
    padding: 15px 0
    border-bottom: 1px #777 solid
    overflow: hidden
    img
      float: left
      padding: 0 10px
      border-right: 1px #ccc solid
    .title
      .name
        padding-left: 10px
        font-size: 130%
        display: inline
      .available
        font-size: 80%
        color: #aaa
    .description
      padding-left: 10px
