<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<%= link_to 'Back', members_path %>
<%= link_to 'Delete', member_path(@member), :confirm => 'Are you sure?', :method => :delete %>
